{% extends 'base.html.twig' %}

{% block title %}Zone de connexion{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-lg">
                    <div class="card-body p-4">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Veuillez vous connecter</h1>

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="alert alert-info text-center">
                                Vous êtes connecté en tant que {{ app.user.userIdentifier }}. <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% endif %}

                        <form method="post">
                            <div class="form-group">
                                <label for="inputEmail">Votre adresse email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword">Votre mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    <input type="checkbox" name="_remember_me" class="form-check-input"> Se souvenir de moi
                                </label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Se connecter
                            </button>
                        </form>

                        <div class="text-center mt-3">
                            <a href="{{ path('app_user_register') }}" class="btn btn-lg btn-success">
                                Inscription gratuite
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
