{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h2 class="mb-4">Enregistrer votre véhicule</h2>
        
        <div class="card p-4 shadow">
            {{ form_start(form) }}
            
            <div class="mb-3">
                {{ form_label(form.marque, 'Marque du véhicule', { 'label_attr': {'class': 'form-label'} }) }}
                {{ form_widget(form.marque, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.marque) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.modele, 'Modèle', { 'label_attr': {'class': 'form-label'} }) }}
                {{ form_widget(form.modele, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.modele) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.couleur, 'Couleur', { 'label_attr': {'class': 'form-label'} }) }}
                {{ form_widget(form.couleur, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.couleur) }}
            </div>

            <div class="mb-3">
    {{ form_label(form.dateMatriculation, 'Date de Matriculation', { 'label_attr': {'class': 'form-label'} }) }}
    {{ form_widget(form.dateMatriculation, { 'attr': {'class': 'form-control', 'type': 'date'} }) }}
    {{ form_errors(form.dateMatriculation) }}
</div>


            <div class="mb-3">
                {{ form_label(form.nImmatriculation, 'Numéro d\'immatriculation', { 'label_attr': {'class': 'form-label'} }) }}
                {{ form_widget(form.nImmatriculation, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.nImmatriculation) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.moteur, 'Type d\'énergie', { 'label_attr': {'class': 'form-label'} }) }}
                {{ form_widget(form.moteur, { 'attr': {'class': 'form-select'} }) }}
                {{ form_errors(form.moteur) }}
            </div>

            {# Caché si le champ user est dans le formulaire #}
            {# {{ form_row(form.user, {'attr': {'hidden': 'hidden'}}) }} #}

            <button type="submit" class="btn btn-primary w-25">Enregistrer</button>
            
            {{ form_end(form) }}
        
    </div>
    </div>
{% endblock %}
