{% extends 'base.html.twig' %}

{% block title %}Hello CovoiturageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello  ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/polonium/my_project_ecoride/src/Controller/CovoiturageController.php</code></li>
        <li>Your template at <code>C:/Users/polonium/my_project_ecoride/templates/covoiturage/index.html.twig</code></li>
    </ul>
</div>

    <h2>Créer un nouveau covoiturage</h2>

    
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.pointDepart) }}
        {{ form_widget(form.pointDepart, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.pointDepart) }}
    </div>

    <div class="form-group">
        {{ form_label(form.pointArrivee) }}
        {{ form_widget(form.pointArrivee, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.pointArrivee) }}
    </div>

    <div class="form-group">
        {{ form_label(form.dateDepart) }}
        {{ form_widget(form.dateDepart, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.dateDepart) }}
    </div>

    <div class="form-group">
        {{ form_label(form.heureDepart) }}
        {{ form_widget(form.heureDepart, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.heureDepart) }}
    </div>

    <div class="form-group">
        {{ form_label(form.dateArrivee) }}
        {{ form_widget(form.dateArrivee, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.dateArrivee) }}
    </div>

    <div class="form-group">
        {{ form_label(form.heureArrivee) }}
        {{ form_widget(form.heureArrivee, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.heureArrivee) }}
    </div>

    <div class="form-group">
        {{ form_label(form.nbPlace) }}
        {{ form_widget(form.nbPlace, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nbPlace) }}
    </div>

    <div class="form-group">
        {{ form_label(form.prix) }}
        {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.prix) }}
    </div>

    <button type="submit" class="btn btn-primary mt-3">Créer le trajet</button>
{{ form_end(form) }}

<!-- Affichage des messages flash -->
{% for message in app.flashes('success') %}
    <div class="flash-success">{{ message }}</div>
{% endfor %}

<ul>
        {% for covoiturage in covoiturages %}
            <li>{{ covoiturage.dateDepart
             }}</li>
        {% else %}
            <li>Aucun covoiturage trouvé.</li>
        {% endfor %}
    </ul>
{% endblock %}
